@model SanPham
@{
    ViewBag.Title = "Add SanPham";
}

<h2>Add SanPham</h2>

<form asp-action="AddSanPham" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Ten" class="control-label"></label>
        <input asp-for="Ten" class="form-control" />
        <span asp-validation-for="Ten" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gia" class="control-label"></label>
        <input asp-for="Gia" class="form-control" />
        <span asp-validation-for="Gia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa" class="control-label"></label>
        <input asp-for="MoTa" class="form-control" />
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoLuong" class="control-label"></label>
        <input asp-for="SoLuong" class="form-control" />
        <span asp-validation-for="SoLuong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MauSac" class="control-label"></label>
        <input asp-for="MauSac" class="form-control" />
        <span asp-validation-for="MauSac" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NhaSanXuat" class="control-label"></label>
        <input asp-for="NhaSanXuat" class="form-control" />
        <span asp-validation-for="NhaSanXuat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="HinhAnh">Ảnh chính</label>
        <input type="file" class="form-control" id="HinhAnh" name="HinhAnh" />
    </div>
    <div class="form-group">
        <label for="HinhAnhPhu">Ảnh phụ</label>
        <input type="file" class="form-control" id="HinhAnhPhu" name="HinhAnhPhu" multiple />
    </div>
    <div class="form-group">
        <label asp-for="Loais" class="control-label"></label>
        <select asp-for="Loais" class="form-control" asp-items="ViewBag.Loai"></select>
        <span asp-validation-for="Loais" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="idnhacungcap" class="control-label"></label>
        <select asp-for="idnhacungcap" class="form-control" asp-items="ViewBag.NhaCungCap"></select>
        <span asp-validation-for="idnhacungcap" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
